{{ partial "header.html" . }}

	<main role="main" class="single-page">
		<article itemscope itemtype="http://schema.org/BlogPosting">
			<h1 class="entry-title" itemprop="headline">{{ .Title }}</h1>
			<span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
			<section itemprop="entry-text">
        {{ .Content }}
        <hr>
        {{ if .Params.paid }}
        <p class="entry-notice"><strong>【请在购买前确认了解如何使用油猴脚本】</strong></p>
        <hr>
        <p><strong>【脚本价格】： </strong>{{ .Params.price }}</p>
        <p><strong>【购买链接】： </strong><a href="{{ .Params.link }}" target="_blank">点此进入</a></p>
        <p><strong>【其他渠道】： </strong>更多付款方式请至 <a href="/question-and-answer/">Q&A</a> 页面</p>
        {{ else if .Params.link }}
        <p><strong>【脚本链接】： </strong><a href="{{ .Params.link }}" target="_blank">{{ .Params.link }}</a></p>
        <p><strong>【支持作者】： </strong>到 <a href="/question-and-answer/">Q&A</a> 页面扫码请小老鼠喝杯咖啡吧~</p>
        {{ end }}
			</section>
		</article>
	</main>

{{ partial "footer.html" . }}